name: Runs nuclei with default templates
on:
  workflow_dispatch:
  schedule:
    - cron: "15 12 * * 0"

jobs:
  nuclei-default:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        domain:
          - https://digital.canada.ca
          - https://numerique.canada.ca
          - https://encrypted-message.cdssandbox.xyz
          - https://articles.cdssandbox.xyz
          - https://staging.notification.cdssandbox.xyz
          - https://forms-staging.cdssandbox.xyz
          - https://design-system.alpha.canada.ca/en/
          - https://superset.cdssandbox.xyz/
          - http://sign-in.alpha.canada.ca/
          - http://connexion.alpha.canada.ca/
          - https://sign-in.canada.ca
          - https://connexion.canada.ca
    steps:
      - name: Checkout
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5

      - name: Nuclei - Vulnerability Scan
        uses: projectdiscovery/nuclei-action@128f7284c2a836b485e292b9080dbc6175103758 # v2.0.2
        with:
          target: ${{ matrix.domain }}
          nuclei-version: "3.4.10"
          flags: "-jsonl -jsonl-export nuclei.log -stats"

      - name: Forward results to Sentinel
        uses: cds-snc/sentinel-forward-data-action@main
        with:
          file_name: nuclei.log
          log_type: CDS_Nuclei_Results
          log_analytics_workspace_id: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
          log_analytics_workspace_key: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}
